// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: DancingScript;
	src: url(DancingScript-Regular.otf)
}

body {
	
}

// Header CSS

.header {
	height: 180px;
	display: block;
}

.log {
	margin: 10px 0px 25px 0px;
	border-bottom: 1px solid silver;
}

.log a {
	margin-left: 20px;
	text-decoration: none;
	font-family: Copperplate;
	color: #454851;
}

.log a:first-child {
	margin-left: 90%;
}

.box1 {
	margin: 0px 0px 0px 33px;
	vertical-align: top;
	display: inline-block;
	width: 28%;
	color: #454851;
}

.box1 a:first-child {
	margin-right: 20px;
}

.box2 {
	border-right: 1px solid #454851;
	border-left: 1px solid #454851;
	display: inline-block;
	width: 38%;
	height: 110px;
}

.box2 h1 {
	margin: 5px 0px 0px 25px;
	font-size: 80px;
	font-family: DancingScript;	
}
h1 a:link {
	text-decoration: none;
}
h1 a:hover {
	color:black;
}
h1 a {
	color:black;
}

.box3 {
	color: #454851;
	vertical-align: top;
	display: inline-block;
	width: 28%;
}
.box3 a:first-child {
	margin-right: 20px;
}
.quoteBox {
	vertical-align: top;
	border-bottom: 1px solid #454851;
	text-align: center;
	padding-bottom: 5px;
	font-family: DancingScript;
}
.quoteBox h2 {
	margin: 0px 0px 0px 0px;
	display: inline;
	font-size: 30px;
}
.quoteBox p {
	font-size: 22px;
	margin: 0px 0px 0px 0px;
	display: inline;
}

.quoteBox h5 {
	margin: 0px 0px 0px 0px;
}

.tabs {
	margin-top: 15px;
	text-align: center;
}

.tabs a {
	text-decoration: none;
	color: #454851;
	font-family: Copperplate;
	font-size: 25px;
}

// End Header
//Landing Page

.welcome {
	font-family: DancingScript;
	margin: 0px 0px 150px 0px;
	width: 100%;
	height: 550px;
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
}
.welcomeBox {
	vertical-align: top;
	margin: 200px 0px 0px 100px;
	display: inline-block;
	width: 35%;	
	text-align: center;
}
.welcome h1 {
	font-size: 40px;
}
.welcomeImg {
	margin: 110px 0px 0px 45px;
	display: inline-block;
	width: 700px;
	height: 475px;
	background-image: url(IMG2_vineyard.jpg)
}
.sonoma {
	font-size: 60px;
}
.glenetIntro {
	margin-bottom: 150px;
	width: 100%;
}

.glenetImg {
	position: absolute;
	display: inline-block;
	width: 400px;
	height: 400px;
	margin: 50px 0px 0px 100px;
	background-image: url(IMG_vineyard.jpg);
}

.glenetBox {
	margin-top: 100px;
	vertical-align: top;
	display: inline-block;
	width:100%;
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
}

.glenetBox h1 {
	margin: 100px 0px 0px 550px;
	border-bottom: 1px solid silver;
	font-family: DancingScript;
}

.glenetBox p {
	margin: 0px 0px 0px 550px;
	font-size: 25px;
}

.glenetBox button {
	margin: 0px 0px 0px 900px;
}
.wineIntro {
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
}
//End Landing
//Our Story CSS

.aboutBox {
}

.intro {
	background-image: url(IMG_1332.jpg);
	height: 600px;
	border: 1px solid silver;
}

.intro button {
}

.ourStory {
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
	padding: 20px;
}

.ourWine {
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
}

.ourBio {
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
}
//End Our Story 
//Wine Shop Css

.wineShop {
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
	
}

.wineShop h3{
	width: 50%;
	background-color: blue;
}

.wineBox {
	vertical-align:top;
	width: 25%;
	background-color: green;
	display: inline-block;
	margin-left: 20px; 
}

.wineBottle {
	width: 50%;
	background-color: purple;
	height: 300px;
}

.qty {
	color: white;
	background-color: blue;
	width: 50px;
	height: 50px;
}

//End Wine Shop
// Membership

.membership {
}

.newMember {
}

.newMemberBox {
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
	height: 400px;
}
.newMemberImg {
	background-color: green;
	width: 25%;
	height: 600px;
}
.memberBenefits {
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);
	height: 300px;
}
//End Membership

//Contact Page

.joinUs {
	background-image: url(http://www.cambriawines.com/sites/default/files/bg/bg-full-width-texture-short-mobile.jpg);	
}

//End Contact
