// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: DancingScript;
	src: url(DancingScript-Regular.otf)
}
.spreeBody {
	background-color: #EFF2EF;
}
// Header CSS

.header {
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	background-color: #EFF2EF;
	background-image: url(greyzz.png);
	color: #232C33;
}

.box1 {
	margin-left: 8%;
	vertical-align: top;
	display: inline-block;
	width: 28%;
}
.box1 a:first-child {
	margin-right: 2%;
}
.box2 {
	border-right: 1px solid #AEB1AE;
	border-left: 1px solid #AEB1AE;
	display: inline-block;
	width: 26%;
	text-align: center;
	padding-bottom: 1%;
}
.box2 h1 {
	font-size: 52px;
	font-family: DancingScript;

}
h1 a:link {
	text-decoration: none;
}
h1 a:hover {
	color:black;
}
h1 a {
	color:#232C33;
}
.box3 {
	color: #232C33;
	vertical-align: top;
	display: inline-block;
	width: 28%;
}
.box3 a:first-child {
	margin-right: 2%;
}

.titleBox {
	text-align: center;
}
.titleBox h1{
	font-size: 52px;
	font-family: DancingScript;
}
h1 a:link {
	text-decoration: none;
}
h1 a:hover {
	color:black;
}
h1 a {
	color:#232C33;
}
.quoteBox {
	vertical-align: top;
	border-bottom: 1px solid #AEB1AE;
	text-align: center;
	padding-bottom: 1%;
	font-family: DancingScript;
}
.quoteBox h2 {
	display: inline;
	font-size: 28px;
}
.quoteBox p {
	font-size: 24px;
	display: inline;
	padding: 0% 1%;
}
.quoteBox h4 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.tab1 {
	margin-top: 3%;
	text-align: center;

}
.tab1 a {
	text-decoration: none;
	color: #232C33;
	font-family: Copperplate;
	font-size: 20px;
}
.tab1 a:first-child {
	margin-right: 10%;
}
.tab1 a:hover {
	color:#6C6EA0;
	text-decoration: none;
}
.tab2 {
	margin-top: 3%;
	text-align: center;
}
.tab2 a {
	text-decoration: none;
	color: #232C33;
	font-family: Copperplate;
	font-size: 20px;
}
.tab2 a:first-child {
	margin: 0% 10% 0% 3%;
}
.tab2 a:hover {
	color: #6C6EA0;
	text-decoration: none;
}

// End Header
//Landing Page
.landing {
	background-color: #EFF2EF;
	color: #232C33;
	font-family: CopperPlate;
}
.welcome {
	border-top: 2px solid #e6e6e6;
	font-family: DancingScript;
	width: 100%;
	padding-bottom: 8%;
	background: linear-gradient(to bottom, rgba(239,242,239,0),
  				rgba(239,242,239, 1)), url(rockywall.png);
}
.welcomeBox {
	vertical-align: top;
	margin: 13% 0% 15% 8%;
	display: inline-block;
	width: 35%;
	text-align: center;
}
.welcome h1 {
	font-size: 40px;
}

.welcomeBox h3 {
	font-size: 25px;
}
.sonoma {
	font-size: 50px;
}
.welcomeIcon {
	width: 16%;
	height: 20%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-block;
	position:absolute;
	margin: 27% 0% 0% -18%;
}
.welcomeIcon:hover {
	width: 17%;
	height: 21%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-block;
	position:absolute;
	margin: 27% 0% 0% -18%;
}
.welcomeIcon2 {
	width: 10%;
	height: 16%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-block;
	position:absolute;
	margin: 3% 0% 0% -35%;
}
.welcomeIcon2:hover {
	width: 11%;
	height: 17%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-block;
	position:absolute;
	margin: 3% 0% 0% -35%;
}
.welcomeImg {
	margin: 5% 0% 0% 5%;
	display: inline-block;
	width: 45%;
	padding: 15%;
	background-size: cover;
	background-image: url(IMG3_vineyards.jpg);
	background-repeat: no-repeat;
	box-shadow: 5px 5px 2px #AEB1AE;
}

.glenetIntro {
	margin-top: 2%;
	border-bottom: 2px solid #e6e6e6;
	width: 100%;
	background: linear-gradient(to top, rgba(239,242,239,0),
  				rgba(239,242,239, 1)), url(rockywall.png);
}

.glenetImg {
	position: absolute;
	display: inline-block;
	width: 40%;
	padding: 15%;
	background-image: url(IMG4_vineyard.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 2px #AEB1AE;
	margin-left: 3%;
}
.glenetBox {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	padding: 2%;
}

.glenetBox h1 {
	font-family: DancingScript;
	width: 50%;
	margin-left: 50%;
	margin-bottom: 3%
}

.glenetBox p {
	font-size: 20px;
	padding: 0% 5% 1% 0%;
	width: 50%;
	margin-left: 50%;
}
.glenetBox a {
	margin: 0% 0% 0% 50%;
	background-color: #6C6EA0;
	padding: 10px 30px 10px 30px;
	color: white;
	font-family: Copperplate;
}
.glenetBox a:hover {
	color:white;
	border: 1px solid #6C6EA0;
	text-decoration: none;
}
.quoteSection {
	text-align: center;
	font-family: DancingScript;
	padding: 6% 0% 6% 0%;
	width: 70%;
	margin-left: 15%;
}
.wineIntro {
	margin-bottom: 10%;
	background-image: url(rockywall.png);
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}
.wineIcon {
	position:absolute;
	background-image: url(grapeLeafSmall.png);
	height: 14%;
	width: 10%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 5% 0% 0% 8%;
}
.wineIcon:hover {
	position:absolute;
	background-image: url(grapeLeafSmall.png);
	height: 15%;
	width: 11%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 5% 0% 0% 8%;
}
.wineIcon2 {
	position:absolute;
	background-image: url(grapeLeafBig.png);
	height: 17%;
	width: 12%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 43% 0% 0% 16%;
}
.wineIcon2:hover {
	position:absolute;
	background-image: url(grapeLeafBig.png);
	height: 18%;
	width: 13%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 43% 0% 0% 16%;
}
.wineIcon3 {
	position:absolute;
	background-image: url(grapeLeafBig.png);
	height: 12%;
	width: 9%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 5% 0% 0% 80%;
}
.wineIcon3:hover {
	position:absolute;
	background-image: url(grapeLeafBig.png);
	height: 13%;
	width: 10%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 5% 0% 0% 80%;
}
.wineIcon4 {
	position:absolute;
	background-image: url(grapeLeafSmall.png);
	height: 16%;
	width: 12%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: -12% 0% 0% 65%;
}
.wineIcon4:hover {
	position:absolute;
	background-image: url(grapeLeafSmall.png);
	height: 17%;
	width: 13%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: -12% 0% 0% 65%;
}
.wineIcon5 {
	position:absolute;
	background-image: url(grapeLeafBig.png);
	height: 18%;
	width: 12%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: -20% 0% 0% 5%;
}
.wineIcon5:hover {
	position:absolute;
	background-image: url(grapeLeafBig.png);
	height: 19%;
	width: 13%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: -20% 0% 0% 5%;
}
.wineIntro h1 {
	font-size: 60px;
}
.wineIntro h3 {
	font-family: DancingScript;
	font-size: 30px;
}
.wineIntro p {
	font-size: 22px;
}
.wineDesc {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}
.wine1 {
	display: block;
	width: 75%;
	margin: 0% 0% 10% 25%;
	padding-top: 5%;
}

.wine1 h1 {
	margin: 0% 0% 0% 25%;
}
.wine1 h3 {
	margin: 0% 0% 0% 23%;
}
.wine1 p {
	display: inline-block;
	vertical-align: top;
	margin: 5% 0% 0% 0%;
	text-align: right;
}

.grisImg {
	display: inline-block;
	width: 30%;
	height: 500px;
	background-image: url(pinotGris.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 5%;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.wine2 {
	display: inline-block;
	width: 75%;
	margin: 0% 0% 10% 15%;
}

.wine2 h1 {
	margin: 0% 0% 0% 25%;
}

.wine2 h3 {
	margin: 0% 0% 0% 5%;
	display: inline-block;
	vertical-align: top;
}

.wineDesc2 {
	margin: 5% 0% 0% -22%;
	vertical-align: top;
	display: inline-block;
	width: 45%;
}
.wine2 p:last-child {
	margin: 5% 0% 0% 0%;
}
.melangeImg {
	display: inline-block;
	width: 30%;
	height: 500px;
	background-image: url(glenetMelange.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2%;
	box-shadow: 5px 5px 2px #AEB1AE;
}

.wine3 {
	display: block;
	width: 75%;
	margin: 0% 0% 0% 25%;
	padding-bottom: 5%;
}

.wine3 h1 {
	margin: 0% 0% 0% 25%;
}

.wine3 h3 {
	margin: 0% 0% 0% 18%;
}

.wine3 p {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin: 5% 0% 0% 0%;
}

.noirImg {
	display: inline-block;
	width: 30%;
	height: 500px;
	background-image: url(pinotNoir.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0% 0% 0% 5%;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.navLink {
	width: 100%;
}
.link:first-child {
	margin-left: 12%;
}
.link {
	font-size: 20px;
	display: inline-block;
	width: 25%;
	text-align: center;
	vertical-align: top;
	padding:0% 5% 5% 5%;
}

.link a {
	text-decoration: none;
	color: #232C33;
}
.link a:hover {
	color: #6C6EA0;
	text-decoration: none;
	font-size: 22px;
}

.link h3 {
	margin-bottom: 10%;
	padding-bottom: 8%;
	border-bottom: 1px solid #AEB1AE;
	font-family: DancingScript;
	font-size: 30px;
}
.link h3:hover {
	font-size: 33px;
}
.link p {
	padding: 7% 2% 2% 2%;
	margin-top: 8%;
	border-top: 1px solid #AEB1AE;
}
.wineLinkImg {
margin-left: 15%;
	text-align: center;
	height: 150px;
	width: 150px;
	background-image: url(wine.svg);
}

.memberLinkImg {
margin-left: 15%;
	height: 150px;
	width: 150px;
	background-image: url(wine_bottle.svg);
}

.contactLinkImg {
	margin-left: 15%;
	height: 150px;
	width: 150px;
	background-image: url(ornament.svg);
}
//End Landing
//Our Story CSS
.aboutBox {
	font-family: CopperPlate;
	height: 100%;
  background-color: #EFF2EF;
	color: #232C33;
	background-image: url(grapeVineBottom.png);
	background-size: 25% 22%;
	background-repeat: no-repeat;
	background-position: 12% 60%;
}
.aboutBox p {
	padding-bottom: 3%;
}
.aboutBox h1 {
	padding: 5% 0% 2% 0%;
	font-family: DancingScript;
	font-size: 40px;
}
.ourStoryIntro {
	font-size: 20px;
	margin-bottom: 10%;
	border-top: 2px solid #e6e6e6;
	background: linear-gradient(to bottom, rgba(239,242,239,0),
  				rgba(239,242,239, 1)), url(rockywall.png);
}
.introIcon {
	height: 25%;
	width: 18%;
	position: absolute;
	background-image: url(grapeVineTop.png);
	background-size: cover;
    background-repeat: no-repeat;
	margin: 42% 0% 0% 64%;
}
.introImg {
	background-image: url(IMG_1332.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 74%;
	height: 500px;
	margin: 3% 0% 0% 13%;
	box-shadow: 5px 5px 2px #AEB1AE;
}

.aboutIntro {
	background-image: url(rockywall.png);
	width: 60%;
	margin: 8% 0% 0% 20%;
	text-align: center;
	padding: 0px 50px 50px 50px;
	border: 2px solid #e6e6e6;
}
.aboutIntro p {
	padding: 2% 6% 0% 6%;
}
.ourBio {
	margin-left: 40%;
	margin-bottom: 5%;
	width: 50%;
	border: 2px solid #e6e6e6;
	background-image: url(rockywall.png);
}
.ourBio h4 {
	font-family: DancingScript;
	font-size: 30px;
}
.bio1 {
	width: 50%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	vertical-align: top;
	padding: 5% 3% 5% 5%;
}

.bioPicJohn {
	height: 250px;
	width: 75%;
	background-image: url(johnPhoto.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0% 0% 5% 12%;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.bio2 {
	width: 50%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	padding: 5% 5% 5% 3%;
}

.bioPicJulia {
	height: 250px;
	width: 75%;
	background-image: url(juliaPhoto.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0% 0% 5% 12%;
	box-shadow: 5px 5px 2px #AEB1AE;
}

.ourWine {
	width: 100%;
	margin-bottom: 10%;
}

.ourWineBox {
	background-image: url(rockywall.png);
	display: inline-block;
	width: 100%;
	margin: 5% 0% 0% 0%;
	font-size: 20px;
	text-align: right;
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}

.ourWineBox p {
	width: 50%;
	margin: 0% 0% 0% 8%;
	padding-bottom: 1%;
}

.ourWineBox h1 {
	margin: 0% 42% 0% 0%;
}
.ourWineImg {
	position: absolute;
	display: inline-block;
	width: 30%;
	height: 500px;
	margin: 8% 0% 0% 62%;
	background-image: url(grapes_vineyard.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 2px #AEB1AE;
}
//End Our Story
//Wine Shop

.wineShop {
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	color: #232C33;
	background-image: url(rockywall.png);
	height: 1010px;
	font-family: CopperPlate;
}
.wineShop h3{
	font-family: DancingScript;
	font-size: 35px;
	text-align: center;
	padding-top: 5%;
	margin: 0% 0% 2% 2%;
}
.wineShop p {
	font-size: 12px;
}

.wineShop a:hover {
	color:white;
	border: 1px solid #6C6EA0;
	text-decoration: none;
}
.buyButton {
	background-color: #6C6EA0;
	padding: 10px 30px 10px 30px;
	color: white;
	font-family: Copperplate;
}
.wineBox1 {
	position: absolute;
	vertical-align:top;
	width: 25%;
	height: 80%;
	display: inline-block;
	margin: 50px 50px 0px 90px;
	text-align: center;
}
.wineBox1Background {
	position: absolute;
	margin: 25px 50px 0px 75px;
	width: 27%;
	height: 95%;
	opacity: 0.2;
	padding: 50px;
	background-color: #999B99;
}
.wineBox2 {
	position: absolute;
	vertical-align:top;
	width: 25%;
	display: inline-block;
	margin: 50px 50px 100px 540px;
	text-align: center;
}
.wineBox2Background {
	position: absolute;
	margin: 25px 50px 0px 525px;
	width: 27%;
	height: 92%;
	opacity: 0.2;
	padding: 50px;
	background-color: #999B99;
}
.wineBox3 {
	position: absolute;
	vertical-align:top;
	width: 25%;
	display: inline-block;
	margin: 50px 50px 100px 990px;
	text-align: center;
}
.wineBox3Background {
	position: absolute;
	margin: 25px 50px 0px 975px;
	width: 27%;
	height: 95%;
	opacity: 0.2;
	padding: 50px;
	background-color: #999B99;
}
.wineTitle h4 {
	font-family: Copperplate;
	margin-bottom: 0px;
	font-size: 30px;
}
.wineTitle h5 {
	font-family: Copperplate;
	font-size: 20px;
}
.wineBottle1 {
	width: 50%;
	background-image: url(glenetMelangeWinePage.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 320px;
	margin: 0px 0px 0px 90px;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.wineBottle2 {
	width: 50%;
	background-image: url(pinotGrisWinePage.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 320px;
	margin: 0px 0px 0px 90px;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.wineBottle3 {
	width: 50%;
	background-image: url(pinotNoirWinePage.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 320px;
	margin: 0px 0px 0px 90px;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.wineDescrip {
	margin-bottom: 5%;
}
.wineDescrip p {
	font-size: 22px;
	padding: 8% 8% 2% 8%;
}
.wineDescrip h4 {
	font-family: Copperplate;
	font-size: 40px;
	margin-bottom: 0px;
}
//End Wine Shop
// Membership
.membership {
	background-color: #EFF2EF;
	color: #232C33;
	font-family: CopperPlate;
}
.newMemberIntro {
	margin-bottom: 10%;
}
.newMemberBox {
	border-top: 2px solid #e6e6e6;
	background: linear-gradient(to bottom, rgba(239,242,239,0),
  				rgba(239,242,239, 1)), url(rockywall.png);
	text-align: left;
	padding-bottom: 20%;
}
.newMemberBox h1 {
	margin: 0% 0% 2% 10%;
	width: 45%;
	padding-top: 5%;
	font-family: DancingScript;
	font-size: 48px;
}
.newMemberBox p {
	font-size: 20px;
	width: 38%;
	margin: 0% 0% 2% 10%;
}

.joinBox {
	display: inline-block;
	width: 25%;
	margin-left: 33%;
}
.joinBox p {
	margin: 5% 0% 0% 0%;
	width: 100%;
	font-size: 12px;
}
.joinBox a:hover {
	color: white;
	border: 1px solid #6C6EA0;
	text-decoration: none;
}
.newMemberIcon {
	height: 11%;
	width: 8%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    margin: -20% 0% 0% 20%;
}
.newMemberIcon:hover {
	height: 12%;
	width: 9%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    margin: -20% 0% 0% 20%;
}
.newMemberIcon2 {
	height: 19%;
	width: 10%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    margin: -13% 0% 0% 43%;
}
.newMemberIcon2:hover {
	height: 20%;
	width: 11%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    margin: -13% 0% 0% 43%;
}
.newMemberImg {
	position:absolute;
	width: 28%;
	height: 62%;
	margin: 3% 0% 0% 62%;
	background-image: url(wine_member.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.benefitsImg {
	display: inline-block;
	position: absolute;
	margin: 3% 0% 0% 10%;
	width: 35%;
	height: 45%;
	background-image: url(allWine.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.benefits {
	border-top: 2px solid #e6e6e6;
	background: linear-gradient(to bottom, rgba(239,242,239,0),
  				rgba(239,242,239, 1)), url(rockywall.png);
	display: inline-block;
	margin: 0% 0% 10% 0%;
	padding: 5% 0% 0% 0%;
	width: 100%;
}
.benefits h1 {
	margin: 0% 0% 0% 50%;
	font-family: DancingScript;
	font-size: 40px;
}
.benefits ul {
	margin: 2% 0% 2% 50%;
	font-size: 20px;
	width: 50%;
}
.benefits li {
	padding-bottom: 2%;
}
.benefits a {
	margin-left: 50%;
	background-color: #6C6EA0;
	padding: 10px 30px 10px 30px;
	color: white;
	font-family: Copperplate;
}
.benefits a:hover {
	color:white;
	border: 1px solid #6C6EA0;
	text-decoration: none;
}
.benefitsIcon {
	width: 15%;
	height: 20%;
	position: absolute;
	background-image: url(grapeLeafBig.png);
		background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: -10% 0% 0% 65%;
}
.benefitsIcon:hover {
	width: 16%;
	height: 21%;
	position: absolute;
	background-image: url(grapeLeafBig.png);
		background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: -10% 0% 0% 65%;
}
.benefitsIcon2 {
	width: 8%;
	height: 14%;
	position: absolute;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 6% 0% 0% 82%;
}
.benefitsIcon2:hover {
	width: 9%;
	height: 15%;
	position: absolute;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 6% 0% 0% 82%;
}
.memberOptions {
	padding-bottom: 10%;
	height: 100%;
    color: #232C33;
    background: linear-gradient(to top, rgba(239,242,239,0),
  				rgba(239,242,239, 1)), url(rockywall.png);
}

.memberOptions h1 {
	font-family: DancingScript;
	font-size: 40px;
	margin: 8% 0% 5% 12%;
	color: #232C33;
}

.memberOptions h5 {
	margin: 2% 0% 0% 30%;
}
.memberButton {
	margin: 5% 0% 0% 0%;
	text-align: center;
}
.memberButton a {
	background-color: #6C6EA0;
	padding: 12px 30px 12px 30px;
	color: white;
	font-family: Copperplate;
	font-size: 14px;
	text-decoration: none;
}
.memberButton a:hover {
	color:white;
	border: 1px solid #AEB1AE;
	text-decoration: none;
}
table {
	width: 80%;
	margin-left: 5%;
}
table th, td {
	text-align: center;
	width: 15%;
	border-right: 1px solid #AEB1AE;
}
table th {
	font-size: 25px;
	font-family: Copperplate;
	padding: 1%;
}
table th:first-child {
	border-right:none;
}
table th:last-child {
	border-right:none;
}
table td {
	font-size:20px;
	padding: 1%;
}
table td:first-child {
	font-family: Copperplate;
	font-size: 25px;
	text-align: right;
	width: 20%;
	padding-right: 3%;
	border-right: none;
	border-bottom: none;
}
table td:last-child {
	border-right: none;
}

.tableCell {
	border-bottom: 1px solid #AEB1AE;
}
//End Membership

//Contact Page
.joinUs {
	background-color: #EFF2EF;
	width: 100%;
	color: #232C33;
	font-family: CopperPlate;
}
.contactBox {
	border-top: 2px solid #e6e6e6;
	width: 100%;
	height: 25%;
	background: linear-gradient(to bottom, rgba(239,242,239,0),
  				rgba(239,242,239,1)), url(rockywall.png);
}
.contactBox h1 {
	font-size: 40px;
	font-family: DancingScript;
	margin: 10% 0% 2% 45%;
}
.contactBox h3 {
	width: 45%;
	display: inline-block;
	margin: 0% 0% 1% 45%;
}
.contactBox h4 {
	width: 35%;
	display: inline-block;
	margin: 0% 0% 1% 45%;
}
.contactImg {
	width: 25%;
	height: 500px;
	position: absolute;
	display: inline-block;
	margin: 3% 0% 0% 15%;
	background-image: url(wine_tasting.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 2px #AEB1AE;
}
.contactIcon {
	height: 12%;
	width: 10%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 6% 3%;
    position: absolute;
}
.contactIcon:hover {
	height: 13%;
	width: 11%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 6% 3%;
    position: absolute;
}
.contactIcon2 {
	height: 20%;
	width: 15%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: -0% 73%;
    position: absolute;
}
.contactIcon2:hover {
	height: 22%;
	width: 16%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: -0% 73%;
    position: absolute;
}
.contactIcon3 {
	height: 15%;
	width: 11%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 22% 20%;
    position: absolute;
}
.contactIcon3:hover {
	height: 16%;
	width: 12%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 22% 20%;
    position: absolute;
}
.contactIcon4 {
	height: 17%;
	width: 12%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: -15% 10%;
    position: absolute;
}
.contactIcon4:hover {
	height: 18%;
	width: 13%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: -15% 10%;
    position: absolute;
}
.mailingList {
	width: 40%;
	margin: 18% 0% 10% 45%;
	padding: 0% 3% 2% 3%;
	background-image: url(rockywall.png);
	border: 2px solid #e6e6e6;
}

.mailingList h1 {
	font-size: 40px;
	padding: 7% 0% 0% 4%;
	font-family: DancingScript;
}
.mailingList p {
	padding: 0% 2% 0% 3%;
	font-size: 20px;
}
.airbnb {
	background: linear-gradient(to top, rgba(239,242,239,0),
  				rgba(239,242,239,1)), url(rockywall.png);
}
.airbnbBox {
	display: inline-block;
	text-align: right;
	width: 45%;
	margin: 8% 2% 0% 5%;
}
.airbnbBox h1 {
	font-family: DancingScript;
	font-size: 40px;
}
.airbnbBox {
	font-size: 20px;
	paddin-top: 10%;
	padding-bottom: 15%;
}
.airbnbBox a {
	background-color: #6C6EA0;
	padding: 12px 30px 12px 30px;
	color: white;
	font-family: Copperplate;
	font-size: 14px;
}
.airbnbBox a:hover {
	color:white;
	border: 1px solid #6C6EA0;
	text-decoration: none;
}
.airbnbImg {
	position: absolute;
	display: inline-block;
	height: 50%;
	width: 40%;
	background-image: url(IMG_airbnb.jpg);
	background-size: 100% 100%;
	box-shadow: 5px 5px 2px #AEB1AE;
}

//End Contact
//Register
.register {
	font-family: CopperPlate;
	border-top: 2px solid #e6e6e6;
	padding: 5%;
	background-color: #EFF2EF;
	background-image: url(grapeVineColor.png);
	background-size: 35% 95%;
    background-repeat: no-repeat;
    background-position: 15%;
    color: #232C33;
}
.register h2 {
	font-family: DancingScript;
	font-size: 40px;
	margin: 5% 2% 2% 15%;
	color: #6C6EA0;
}
.register li {
	margin-left: 20%;
	font-size: 20px;
	padding-bottom: 2%;
	width: 70%;
}
.membershipChoice1 {
	background-image: url(rockywall.png);
	width: 40%;
	margin-left: 50%;
	margin-bottom: 5%;
	padding: 1% 1% 3% 1%;
	border: 2px solid #e6e6e6;
}
.membershipChoice2 {
	background-image: url(rockywall.png);
	width: 40%;
	margin-left: 50%;
	margin-bottom: 5%;
	padding: 1% 1% 3% 1%;
	border: 2px solid #e6e6e6;
}
.membershipChoice3 {
	background-image: url(rockywall.png);
	width: 40%;
	margin-left: 50%;
	margin-bottom: 5%;
	padding: 1% 1% 3% 1%;
	border: 2px solid #e6e6e6;
}
.membershipChoice first-child {
	margin-top: 100px;
}
.register a {
	margin-left: 60%;
}
.register a:hover {
	color:white;
	border: 1px solid #6C6EA0;
	text-decoration: none;
}
// end register
// begin order
.orderIcon {
	height: 18%;
	width: 13%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: -11% 70%;
		position: absolute;
}
.orderIcon:hover {
	height: 20%;
	width: 15%;
	background-image: url(grapeLeafBig.png);
	background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: -11% 70%;
		position: absolute;
}
.orderIcon2 {
	height: 17%;
	width: 12%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: -3% 18%;
		position: absolute;
}
.orderIcon2:hover {
	height: 19%;
	width: 14%;
	background-image: url(grapeLeafSmall.png);
	background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: -3% 18%;
		position: absolute;
}
.orderBox {
	text-align: center;
	font-family: CopperPlate;
	border-top: 2px solid #e6e6e6;
	width: 100%;
	padding: 15% 0% 15% 0%;
	background: linear-gradient(to bottom, rgba(239,242,239,0),
					rgba(239,242,239,1)), url(rockywall.png);
}
.orderBox h1 {
	font-size: 40px;
	font-family: DancingScript;
}
.orderBox h3 {
	padding: 0%;
	margin: 2% 0% 2% 0%;
}
.orderBox a:hover {
	color:white;
	border: 1px solid #6C6EA0;
		text-decoration: none;
}
